<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.journeydrip.dao.UserMapper">

	<!-- 使用#可以实现mybatis的预编译，而美元符号不是预编译，可能会被sql注入攻击 -->
	<!-- 按用户名查询 -->
	<!-- User selectByUsername(string username); -->
	<select id="selectByUsername" parameterType="String" resultType="cn.journeydrip.entity.User">
		select 
			id,username,password,address,phone 
		from
			user
		where
			username=#{username} 
	</select>
	
	<!-- 插入访问者的记录   -->
	<!-- public void insertVisted(@Param("username")String username,@Param("date")String date); -->
	<insert id="insertVisted">
		insert into visited(
			username,date
		)values(
			#{username},#{date}
		)
	</insert>
	
	
	<!-- 插入用户记录 -->
	<!-- void insertUser(User user); -->
	<insert id="insertUser" parameterType="cn.journeydrip.entity.User">
		insert into user(
			username,password,address,phone
		)values(
			#{username},#{password},#{address},#{phone}
		)
	</insert>

	<!-- 访问者记录 -->	
	<!-- List<visted> selectAllvisited(); -->
	<select id="selectAllvisited" resultType="cn.journeydrip.entity.visted">
	select
		username,date
	from
		visited
	order by 
		id desc 
	limit 8
	</select>


</mapper>







