<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
">



        <!-- Realm实现     -->
  <bean id="userRealm" class="cn.journeydrip.realm.UserRealm"> </bean>

<!--  安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"/>
    </bean>

  <!--   Shiro的Web过滤器-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- Shiro的安全管理器，所有关于安全的操作都会经过SecurityManager -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 系统认证提交地址，如果用户退出即session丢失就会访问这个页面 -->
        <property name="loginUrl" value="/slogin"/>
        <!-- 登录成功后重定向的地址，不建议配置 -->
        <property name="successUrl" value="/sindex"/>
        <!-- 权限验证失败跳转的页面，需要配合Spring的ExceptionHandler异常处理机制使用 -->
        <property name="unauthorizedUrl" value="/error.html"/>
        <property name="filterChainDefinitions">
            <value>

                <!-- 静态资源不拦截 -->
                /loginspring.html = anon
                /loginsummer.html = anon
                /loginautumn.html = anon
                /loginwinter.html = anon
                /registerfail.html= anon
                /error.html       = anon
                <!-- perms 表示需要该权限才能访问的页面 -->
                /sanalyze = authc, perms[/sanalyze]
                <!-- 登录页面、登录请求 不拦截 -->
                /slogin = anon
                /login = anon
                <!-- Shiro提供了退出登录的配置`logout`，会生成路径为`/logout`的请求地址，访问这个地址即会退出当前账户并清空缓存 -->
                /journeydrip/logout = logout
                <!-- authc 表示需要认证才能访问的页面 -->
                /* = authc
            </value>
        </property>
    </bean>

        </beans>